{% extends ('basefront/base.html.twig') %}
{% block body %}
<!DOCTYPE html>

<title>Equipement index</title>


    <h1>Equipement index</h1>
    
<table align="center">

{% for equipement in equipements %}

<td>
<div  class="card text-white bg-dark mb-3"style="width: 18rem;" align="center">
  
  <div class="card-body" >
   
    <h5 class="card-title">Equipement {{ equipement.id }}</h5>
        <p class="card-text">Nom :  {{ equipement.nomEquipement }}</p>
            <p class="card-text">Etat :{{ equipement.etatEquipement }}</p>
                        <p class="card-text">Description : {{ equipement.descriptionEquipement }}</p>
                                                <p class="card-text">Categorie : {{ equipement.categorieEquipement }}</p>

                        
                        
 
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
       
  {% endfor %}
  </div>
</div>

<td/>
<table/>
{% endblock %}

