{% extends ('base_back_f/basebackF.html.twig') %}
{% block title %}Gestion des Reclamations
{% endblock %}


{% block body %}
	<h1>Gestion des reclamations</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id reclamation</th>
				<th>Description reclamation</th>
				<th>Date reclamation</th>
				<th>Etat reclamation</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for reclamation in reclamations %}
				<tr>
					<td>{{ reclamation.id }}</td>
					<td>{{ reclamation.descriptionReclamation }}</td>
					<td>{{ reclamation.dateReclamation ? reclamation.dateReclamation|date('Y-m-d') : '' }}</td>
					<td>{{ reclamation.etatReclamation }}</td>
					<div>
						<td>
							<a href="{{ path('reclamation_show', {'id': reclamation.id}) }}" class="btn btn-primary">consulter</a>

							<a href="{{ path('reclamation_edit', {'id': reclamation.id}) }}" class="btn btn-primary">modifier</a>

							<a href="{{ path('reclamation_new') }}" class="btn btn-primary">Creer</a>
						</td>
					</div>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
