{% extends ('basefront/base.html.twig') %}
{% block title %}Reclamations
{% endblock %}


{% block body %}
	<h1>Reclamations</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id reclamation</th>
				<th>Description reclamation</th>
				<th>Date reclamation</th>

				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for reclamation in reclamations %}
				<tr>
					<td>{{ reclamation.id }}</td>
					<td>{{ reclamation.descriptionReclamation }}</td>
					<td>{{ reclamation.dateReclamation ? reclamation.dateReclamation|date('Y-m-d') : '' }}</td>

					<div>
						<td>

							<a href="{{ path('reclamation_showFront', {'id': reclamation.id}) }}" class="btn btn-primary">consulter</a>

							<a href="{{ path('reclamation_editFront', {'id': reclamation.id}) }}" class="btn btn-primary">modifier</a>

							

							{#	<a class="btn btn-outline-primary px-4" href="{{ path('reclamation_newFront') }}">reclam</a>#}


						</td>
					</div>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
