{{ form_start(form) }}
   {# {{ form_widget(form) }}
    {{ form_errors(form) }} #}
   
	<div class="input-field col s12 m12 l12">
    {{ form_widget(form.chair_billet, {'attr': {'placeholder': 'Chair'}}) }}
	{{ form_errors(form.chair_billet) }}
	</div>
	<br>
	<div class="input-field col s12 m6 l6">
    {{ form_widget(form.voyage_num, {'attr': {'placeholder': 'Voyage num'}}) }}
	{{ form_errors(form.voyage_num) }}
</div>
<br>	<div class="input-field col s12 m12 l12">
    {{ form_widget(form.terminal, {'attr': {'placeholder': 'Terminal'}}) }}
	{{ form_errors(form.terminal) }}
</div>
<br>
	<div class="input-field col s12 m12 l12">
    {{ form_widget(form.portail, {'attr': {'placeholder': 'portail'}}) }}
	{{ form_errors(form.portail) }}
</div>
	<br>
	<div class="input-field col s12 m12 l12">
	
    {{ form_widget(form.embarquement, {'attr': {'placeholder': 'embarquement'}}) }}
	{{ form_errors(form.embarquement) }}
</div>
<br>
<div class="input-field col s12 m12 l12">
    {{ form_widget(form.localisation, {'attr': {'placeholder': 'localisation'}}) }}
	{{ form_errors(form.localisation) }}
    </div>
    <br>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
