{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
   {# {{ form_widget(form) }}
    {{ form_errors(form) }} #}
   
	<div class="input-field col s12 m12 l12">
	{{ form_label(form.date_reservation,"Date reservation") }}
    {{ form_widget(form.date_reservation, {'attr': {'placeholder': 'Date reservation'}}) }}
	{{ form_errors(form.date_reservation) }}
	</div>
	<br>


	<div class="input-field col s12 m12 l12">
	{{ form_label(form.user,"User") }}
    {{ form_widget(form.user, {'attr': {'placeholder': 'user'}}) }}
	{{ form_errors(form.user) }}
</div>
	<br>
	<div class="input-field col s12 m12 l12">
	{{ form_label(form.billet,"billet") }}
    {{ form_widget(form.billet, {'attr': {'placeholder': 'billet'}}) }}
	{{ form_errors(form.billet) }}
</div>
<br>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
