{% extends ('base_back_f/basebackF.html.twig') %}
{% block title %}Reservation index{% endblock %}


{% block body %}
  

    <table class="table" border="2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_reservation</th>
                <th>user full name</th>
                <th>user mail</th>
                <th>billet</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d') : '' }}</td>
            <td>{{ reservation.user.prenomUtilisateur }} {{ reservation.user.nomUtilisateur }}</td>
                <td>{{ reservation.user.mailUtilisateur }}</td>
                
                <td>{{ reservation.billet.id }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}">show</a>
                     <a href="{{ path('ReservationBillet', {'id': reservation.id}) }}">Ticket</a>

                    
                  
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<a href="{{ path('listReservationByDate') }}">List Reservation By Order</a>
    
{% endblock %}
