{% extends ('base_back_f/basebackF.html.twig') %}


{% block title %}Reservations by date{% endblock %}

{% block body %}
<table class="table" border="2">
    <tr>
        <td>ID</td>
        <td>User Email</td>
        <td>Reservation date</td>
        <td>Billet</td>
        <td>Action</td>
    </tr>
    {% for reservation in reservationsByDate %}
        <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.user }}</td>
            <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d') : '' }}</td>
            <td>{{ reservation.billet.id }}</td>
            <td><a href="{{ path('reservationfront_show', {'id': reservation.id}) }}">show</a>
                    </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}