{% extends ('base_back_f/basebackF.html.twig') %}


{% block title %}Reservations by date{% endblock %}

{% block body %}
<h1>Reservations by date order By date</h1>
<table class="table" border="2">
    <tr>
        <td>ID</td>
        <td>User Full Name</td>
        <td>User Email</td>
        <td>Reservation date</td>
        <th>Etat</th>
        <td>Billet</td>
        <td>Action</td>
    </tr>
    {% for reservation in reservationsByDate %}
        <tr>
            <td>{{ reservation.id }}</td>
             <td>{{ reservation.user.prenomUtilisateur }} {{ reservation.user.nomUtilisateur }}</td>
                <td>{{ reservation.user.mailUtilisateur }}</td>
            <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d') : '' }}</td>
              <td>{{ reservation.etatReservation }}</td>
            <td>{{ reservation.billet.id }}</td>
            <td><a href="{{ path('reservation_show', {'id': reservation.id}) }}">show</a>
                    </td>
        </tr>
    {% endfor %}
</table>
<h1>Reservations by date order By Mail</h1>
<table class="table" border="2">
    <tr>
        <td>ID</td>
         <td>User Full Name</td>
        <td>User Email</td>
        <td>Reservation date</td>
        <th>Etat</th>
        <td>Billet</td>
        <td>Action</td>
    </tr>
    {% for reservation in reservationsByMail %}
         <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.user.prenomUtilisateur }} {{ reservation.user.nomUtilisateur }}</td>
                <td>{{ reservation.user.mailUtilisateur }}</td>
            <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d') : '' }}</td>
              <td>{{ reservation.etatReservation }}</td>
            <td>{{ reservation.billet.id }}</td>
            <td><a href="{{ path('reservationfront_show', {'id': reservation.id}) }}">show</a>
                  </td>
        </tr>
    {% endfor %}
</table>
<h1>Reservations by date order By Etat</h1>
<table class="table" border="2">
    <tr>
        <td>ID</td>
         <td>User Full Name</td>
        <td>User Email</td>
        <td>Reservation date</td>
        <th>Etat</th>
        <td>Billet</td>
        <td>Action</td>
    </tr>
    {% for reservation in reservationsByEtat %}
         <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.user.prenomUtilisateur }} {{ reservation.user.nomUtilisateur }}</td>
                <td>{{ reservation.user.mailUtilisateur }}</td>
            <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d') : '' }}</td>
              <td>{{ reservation.etatReservation }}</td>
            <td>{{ reservation.billet.id }}</td>
            <td><a href="{{ path('reservationfront_show', {'id': reservation.id}) }}">show</a>
                  </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}