{% extends ('base_back_f/basebackF.html.twig') %}


{% block title %}Reservations by Order{% endblock %}

{% block body %}
<table class="table" border="2">
<td><a href="{{ path('listReservationByDate') }}">List Reservation By Date</a></td>
<td><a href="{{ path('listReservationByMail') }}">List Reservation By Mail</a></td>
<td><a href="{{ path('listReservationByEtat') }}">List Reservation By Etat</a></td>
</table>
{% if app.request.get('_route') == 'listReservationByDate' %}
 

<h1>Reservations by date order By date</h1>
<table class="table" border="2">
    <tr>
        <td>ID</td>
        <td>User Full Name</td>
        <td>User Email</td>
        <td>Reservation date</td>
        <th>Etat</th>
        <td>Billet</td>
        <td>Action</td>
    </tr>
    {% for reservation in reservationsByDate %}
        <tr>
            <td>{{ reservation.id }}</td>
             <td>{{ reservation.user.prenomUtilisateur }} {{ reservation.user.nomUtilisateur }}</td>
                <td>{{ reservation.user.mailUtilisateur }}</td>
            <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d') : '' }}</td>
              <td>{{ reservation.etatReservation }}</td>
            <td>{{ reservation.billet.id }}</td>
            <td><a href="{{ path('reservation_show', {'id': reservation.id}) }}">show</a>
                    </td>
        </tr>
    {% endfor %}
</table>
{% elseif app.request.get('_route') == 'listReservationByMail' %}
    
<h1>Reservations by date order By Mail</h1>
<table class="table" border="2">
    <tr>
        <td>ID</td>
         <td>User Full Name</td>
        <td>User Email</td>
        <td>Reservation date</td>
        <th>Etat</th>
        <td>Billet</td>
        <td>Action</td>
    </tr>
    {% for reservation in reservationsByMail %}
         <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.user.prenomUtilisateur }} {{ reservation.user.nomUtilisateur }}</td>
                <td>{{ reservation.user.mailUtilisateur }}</td>
            <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d') : '' }}</td>
              <td>{{ reservation.etatReservation }}</td>
            <td>{{ reservation.billet.id }}</td>
            <td><a href="{{ path('reservationfront_show', {'id': reservation.id}) }}">show</a>
                  </td>
        </tr>
    {% endfor %}
</table>
{% elseif app.request.get('_route') == 'listReservationByEtat' %}
    

<h1>Reservations by date order By Etat</h1>
<table class="table" border="2">
    <tr>
        <td>ID</td>
         <td>User Full Name</td>
        <td>User Email</td>
        <td>Reservation date</td>
        <th>Etat</th>
        <td>Billet</td>
        <td>Action</td>
    </tr>
    {% for reservation in reservationsByEtat %}
         <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.user.prenomUtilisateur }} {{ reservation.user.nomUtilisateur }}</td>
                <td>{{ reservation.user.mailUtilisateur }}</td>
            <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d') : '' }}</td>
              <td>{{ reservation.etatReservation }}</td>
            <td>{{ reservation.billet.id }}</td>
            <td><a href="{{ path('reservationfront_show', {'id': reservation.id}) }}">show</a>
                  </td>
        </tr>
    {% endfor %}
</table>
{% endif %}
 <a href="{{ path('reservation_index') }}">back to list</a>
{% endblock %}