<h4>Reservation:#{{ reservations.billet.id }}_{{ reservations.dateReservation ? reservations.dateReservation|date('Y-m-d') : '' }}</h4>


<table border="1">
     <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Actions</th>
            </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.mail_utilisateur }}</td>
            <td>{{ user.prenom_utilisateur }}</td>
            <td>{{ user.nom_utilisateur }}</td>
            
            
        </tr>
    {% endfor %}
</table>