{% extends ('base_back_f/basebackF.html.twig') %}

{% block title %}Gestion des Plannings
{% endblock %}


{% block body %}
	<h1>Gestion des Plannings</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>DateDebut</th>
				<th>DateFin</th>
				<th>Destination</th>
				<th>Description</th>
				<th>Periode</th>
				<th>Prix</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for planinng in planinngs %}
				<tr>
					<td>{{ planinng.id }}</td>
					<td>{{ planinng.nomPlanning }}</td>
					<td>{{ planinng.dateDebutPlanning ? planinng.dateDebutPlanning|date('Y-m-d') : '' }}</td>
					<td>{{ planinng.dateFinPlanning ? planinng.dateFinPlanning|date('Y-m-d') : '' }}</td>
					<td>{{ planinng.destinationPlanning }}</td>
					<td>{{ planinng.descriptionPlanning }}</td>
					<td>{{ planinng.periodePlanning }}</td>
					<td>{{ planinng.prixPlanning }}</td>
					<td>
						<a href="{{ path('planinng_show', {'id': planinng.id}) }}"class="btn btn-primary">show</a>
						<a href="{{ path('planinng_edit', {'id': planinng.id}) }}"class="btn btn-primary">edit</a>
					</td>
					
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('planinng_new') }}"class="btn btn-primary">Create new</a>
	<a href="{{ path('listPlanByDate') }}"class="btn btn-primary">Trier Planinng par Date</a>
		<a href="{{ path('listPlanByPeriode') }}"class="btn btn-primary">Trier Planinng par Periode</a>


{% endblock %}
