{% extends ('base_back_f/basebackF.html.twig') %}
{% block title %}Gestion des Offres
{% endblock %}

{% block body %}

	<h1>Gestion des Offres</h1>
	
	<table class=" table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom offre</th>
				<th>Description offre</th>
				<th>Prix
				</th>
				<th>Duree
				</th>
				<th>Reduction
				</th>
				<th>ID Planning</th>
			</tr>
		</thead>
		<tbody>
			<a href="{{ path('offre_new') }}" class="btn btn-primary">Creer</a>
			
		{%  for offre in offres %}
				<tr>
					<td>{{ offre.id }}</td>
					<td>{{ offre.nomOffre }}</td>
					<td>{{ offre.descriptionOffre }}</td>
					<td>{{ offre.prixOffre }}</td>
					<td>{{ offre.dureeOffre }}</td>
					<td>{{ offre.reduction }}</td>
					<td>{{ offre.planning }}</td>
					<td>
						<a href="{{ path('offre_show', {'id': offre.id}) }}" class="btn btn-primary">consulter</a>
						<a href="{{ path('offre_edit', {'id': offre.id}) }}" class="btn btn-primary">modifier</a>

		</td>
				</tr>
			</a>
		</tbody>
	</td>
</tr>{% else %}
<tr>
	<td colspan="5">no records found</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
