{% extends ('basefront/base.html.twig') %}
{% block body %}

	<section class="py-5" id="services">
		<div class="container py-5">
			<header class="mb-4 text-center mb-5">
				<p class="text-serif mb-0 text-primary">Offres
				</p>
				<h2 class="text-uppercase">Nos offres
				</h2>
			</header>

			<div class="row text-center gy-4">
				{% for offre in offres %}
					<div class="col-lg-4"><img src="{{ asset ('Front/img/travel.png')}}" alt="..." width="100">
						<br>
						<br>
						<h3 class=" col-lg-6 h5">{{ offre.nomOffre }}</h3>
						<br>
						<p class="col-lg-6 text-muted">{{ offre.descriptionOffre }}</p>
						<h3 class=" col-lg-6 h5">{{ offre.prixOffre }} TND</h3>

						<p class=" col-lg-6 text-muted">{{ offre.dureeOffre }} Jours</p>


						<p class=" col-lg-6 text-muted">
							{{offre.planning}}</p>

						<h3 class=" col-lg-6 h5">
							{{ offre.reduction }}
							%
						</h3>
						<br>
						<div class="col-lg-6 text-center">
							<a class="btn btn-outline-primary px-4" href="{{ path('offre_showFront', {'id': offre.id}) }}">
								Consulter offre</a>
						</div>

					</div>

				{% endfor %}
			</div>
		</section>
	{% endblock %}
