{% extends ('basefront/base.html.twig') %}


{% block title %}Offres by date{% endblock %}

{% block body %}
<table class="table" border="2">
    <tr>
                 <td>Id</td>
				<td>Nom offre</td>
				<td>Description offre</td>
				<td>Prix</td>
				<td>Duree</td>
				<td>Reduction</td>
				<td>ID Planning</td>
    </tr>
    {% for offre in offresByReduction %}
        <tr>

                	<td>{{ offre.id }}</td>
					<td>{{ offre.nomOffre }}</td>
					<td>{{ offre.descriptionOffre }}</td>
					<td>{{ offre.prixOffre }}</td>
					<td>{{ offre.dureeOffre }}</td>
					<td>{{ offre.reduction }}</td>
					<td>{{ offre.planning }}</td>
            

            <td><a href="{{ path('offre_showFront', {'id': offre.id}) }}">show</a>
                    </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}