{% extends ('basefront/base.html.twig') %}


{% block title %}Offre
{% endblock %}

{% block body %}
<h1>Offre</h1>

<table class="table">
	<tbody>
	
		<tr>
			<th>Offre</th>
			<td>{{ offre.nomOffre }}</td>
		</tr>
		<tr>
			<th>Details de l'offre</th>
			<td>{{ offre.descriptionOffre }}</td>
		</tr>
		<tr>
			<th>Prix de l'offre</th>
			<td>{{ offre.prixOffre }}  TND</td>
		</tr>
		
			<tr>
			<th>Duree de l'offre</th>
			<td> {{ offre.dateDebutOffre  ? offre.dateDebutOffre |date('Y-m-d') : '' }} Jours</td>
	
		</tr>
			<tr>
			<th>Date debut de l'offre</th>
			<td> {{ offre.dateDebutOffre  ? offre.dateDebutOffre |date('Y-m-d') : '' }}  Jours </td>
			
		</tr>

		<tr>
			<th>Date fin de l'offre</th>
			<td> {{ offre.dateFinOffre  ? offre.dateFinOffre |date('Y-m-d') : '' }}  Jours </td>
			
		</tr>

        <tr>
			<th>Reduction </th>
			<td>{{ offre.reduction }}%</td>
		</tr>

         <tr>
			<th>Planning offre</th>
			<td>{{ offre.planning}}</td>
		</tr>


	</tbody>
	
</table>
<div>
<a href="{{ path('offre_indexOffreTest') }}" class="btn btn-primary" >Retour aux offres</a>
</div>
 {% endblock %}
