{% extends ('basefront/base.html.twig') %}


{% block title %}Offre
{% endblock %}

{% block body %}
<h1>Offre</h1>

<table class="table">
	<tbody>
		<tr>
			<th>Id</th>
			<td>{{ offre.id }}</td>
		</tr>
		<tr>
			<th>Nom_offre</th>
			<td>{{ offre.nomOffre }}</td>
		</tr>
		<tr>
			<th>Description_offre</th>
			<td>{{ offre.descriptionOffre }}</td>
		</tr>
		<tr>
			<th>Prix_offre</th>
			<td>{{ offre.prixOffre }}TND</td>
		</tr>
		<tr>
			<th>Duree_offre</th>
			<td>{{ offre.dureeOffre }}Jours</td>
		</tr>

        <tr>
			<th>Reduction_offre</th>
			<td>{{ offre.reduction }}%</td>
		</tr>

         <tr>
			<th>Planning_offre</th>
			<td>{{ offre.planning}}</td>
		</tr>


	</tbody>
</table>
<a href="{{ path('offre_indexOffreTest') }}" class="btn btn-primary">back to list</a>
<div>
	 <div> {% endblock %}
