{% extends ('baseback/base.html.twig') %}
{% block title %}Gestion des Post
{% endblock %}


{% block body %}
  <table align='center' class='table'>
  <tr color='black'>
  <th>ID
  </th>
  <th> Nom
  </th> 
  <th> Prenom
  </th> <th> Adresse</th>
  <th>Numero Telephone</th>
  <th> Sudo</th>
  <th> Mot De passe </th>
  <th> Adresse Mail</th>
  </tr>
  <tr{% for u in user%}> 
  <td> {{u.id}} </td>
<td> {{u.getNomUtilisateur()}} </td>
 <td> {{u.getPrenomUtilisateur}} </td>
 <td> {{u.getAdresseUtilisateur}} </td>
 <td> {{u.getNumeroUtilisateur}} </td>
 <td> {{u.getSudoUtilisateur}} </td>
 <td> {{u.getMdpUtilisateur}} </td>
  <td> {{u.getMailUtilisateur}} </td>

  <td> <a href="{{path('d',{'id':u.id})}}">Delete </a></td>
  <td> <a href="{{path('Update',{'id':u.id})}}">Update </a></td>

</tr {% endfor %}>
  </table>
  {% endblock %}
