{% extends ('baseback/base.html.twig') %}
{% block body %}

<!DOCTYPE html>

<title>User</title>


    <h1>Users' List</h1>

    <table class="table" align="center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Mail</th>
                <th>Sudo</th>
                <th>Mot de passe</th>
                <th>Etat du compte</th>
                <th>Numero</th>
                <th>Date de naissance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                                <td>{{ user.getNomRole() }}</td>

                <td>{{ user.nomUtilisateur }}</td>
                <td>{{ user.prenomUtilisateur }}</td>
                <td>{{ user.adresseUtilisateur }}</td>
                <td>{{ user.mailUtilisateur }}</td>
                <td>{{ user.sudoUtilisateur }}</td>
                <td>{{ user.mdpUtilisateur }}</td>
                <td>{{ user.EtatCompte }}</td>
                <td>{{ user.NumeroUtilisateur }}</td>
                <td>{{ user.DateNUtilisateur ? user.DateNUtilisateur|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div align="center">
    <a href="{{ path('user_new') }}">Create new</a>  </div>
{% endblock %}
