{% extends ('baseback/base.html.twig') %}
{% block %}Gestion des Users

<!DOCTYPE html>

<title>User</title>


    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_utilisateur</th>
                <th>Prenom_utilisateur</th>
                <th>Adresse_utilisateur</th>
                <th>Mail_utilisateur</th>
                <th>Sudo_utilisateur</th>
                <th>Mdp_utilisateur</th>
                <th>Etat_Compte</th>
                <th>Numero_utilisateur</th>
                <th>DateN_utilisateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nomUtilisateur }}</td>
                <td>{{ user.prenomUtilisateur }}</td>
                <td>{{ user.adresseUtilisateur }}</td>
                <td>{{ user.mailUtilisateur }}</td>
                <td>{{ user.sudoUtilisateur }}</td>
                <td>{{ user.mdpUtilisateur }}</td>
                <td>{{ user.EtatCompte }}</td>
                <td>{{ user.NumeroUtilisateur }}</td>
                <td>{{ user.DateNUtilisateur ? user.DateNUtilisateur|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
{% endblock %}
